<template name="modalCTAButton">
   <!-- Modal -->
   <div class="modal in" id="myModal" role="dialog">
      <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">How to Buy</h4>
               </div>

               <div class="modal-body">
                  <div class="align center">
                     <p>The following materials can be bought by bank transfer to the following account - the BSB is 082991 the account number is 375736954 and the account name is Belinda Pinskier. Please contact me to organise this as you will need to send me the receipt.</p>
                     <br>
                  </div>
               </div>

               <div class="modal-footer">
                  <div class="row centered">
                      <a href="#contact" class="btn btn-success" id="contactId" data-dismiss="modal">
                       <h3>Contact me</h3>
                     </a>
                  </div>
               </div>
            </div>
               
         </div>
   </div>
</template>